* {
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: 100;
	box-sizing: border-box;
}

:root {
	--clr: #007eca;
	--clrFilter: invert(31%) sepia(75%) saturate(4127%) hue-rotate(185deg) brightness(97%) contrast(100%);
	--UpDownFilter: invert(48%) sepia(2%) saturate(0%) hue-rotate(322deg) brightness(94%) contrast(83%);
}

.d-none {
	display: none;
}

body {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: column;
	min-height: 100vh;
}

body main {
	overflow: hidden;
	padding-top: 200px;
	flex-grow: 1;
	margin: auto;
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 100%;
	height: calc(100vh - 90px);
}

body main .message {
	opacity: 0;
	gap: 10px;
	padding: 20px;
	font-size: .8em;
	z-index: 2;
	background-color: #fff;
	box-shadow: ;
	display: flex;
	flex-flow: row;
	bottom: 0;
	left: 0;
	margin: 20px;
	position: absolute;
	max-width: 460px;
	min-height: 80px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
	animation: show 0.7s forwards, skip 0.7s forwards 3s;
}

body main .message img {
	filter: invert(12%) sepia(100%) saturate(5314%) hue-rotate(5deg) brightness(85%) contrast(118%);
	width: 35px;
	height: 35px;
}

body .fileReader {
	margin-bottom: 40px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 130px;
	background: linear-gradient(to top, #0071c4, #007eca, #008bcd, #0097cf, #00a3d0);
}

body .fileReader:hover {
	background: var(--clr);
}

body .fileReader h2 {
	width: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80%;
	color: #fff;
	font-weight: bold;
}

body .fileReader .files {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

body div {
	display: flex;
	flex-flow: column;
	align-items: center;
}

body .icon {
	user-select: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
	filter: var(--clrFilter);
	width: 2em;
}

body .FilesConverted {
	gap: 0;
	overflow: hidden;
	display: flex;
	flex-flow: row wrap;
	position: relative;
	width: max-content;
	height: 90px;
	border-radius: 3px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
	background-color: #ffff;
}

body .FilesConverted .select {
	font-size: 2.3em;
	outline: none;
	border: none;
	background-color: transparent;
	color: var(--clr);
}

body .FilesConverted .file {
	user-select: none;
	padding: 0 30px;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, 1fr) 50px;
	grid-gap: 10px;
	align-items: center;
	position: relative;
	flex-basis: 800px;
	height: 90px;
}

body .FilesConverted .file .progress {
	top: 0;
	left: 0;
	display: flex;
	justify-content: start;
	align-items: center;
	transition: 0.1s;
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	width: 100%;
	height: 101%;
}

body .FilesConverted .file a {
	width: max-content;
	margin: auto;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	color: var(--clr);
	background-color: #fff;
	z-index: 2;
}

body .FilesConverted .file .progress .bar {
	z-index: 1;
	position: absolute;
	height: 100%;
	background-color: var(--clr);
}

body .FilesConverted .file .progress::after {
	font-size: 2em;
	font-weight: bold;
	content: attr(progress);
	color: #fff;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

body .FilesConverted .file label {
	gap: 5px;
	display: flex;
	align-items: center;
	flex-flow: row;
	height: 100%;
}

body .FilesConverted .file optgroup {
	font-size: .7em;
	color: #777;
}

body .FilesConverted .file optgroup option {
	font-size: 1.3em;
	color: var(--clr);
}

body .FilesConverted .file h2 {
	top: 5px;
	position: relative;
	font-weight: bold;
	font-size: 2.3em;
}

body .FilesConverted .file h2::before {
	content: attr(tYpe);
	color: #444;
	position: absolute;
	top: -0.8em;
	left: 15px;
	font-size: 0.4em;
	font-weight: normal;
}

body .FilesConverted .file .convert {
	padding: 5px;
	margin: auto;
	cursor: pointer;
	transition: 0.3s;
	background-color: var(--clr);
	color: #fff;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	border-radius: 50px;
}

body .FilesConverted .file .convert img {
	filter: invert(100%);
	width: 100%;
	height: 100%;
}

body .FilesConverted .file .convert:hover {background-color: #00629f;}

body .FilesConverted .file .fileName {font-size: 1.4em;}

body footer p {
	font-size: .9em;
	max-width: 300px;
}

body footer {
	color: #777;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 0;
	bottom: 0;
	position: fixed;
	width: 100%;
	height: 70px;
	margin-top: auto;
}

body footer .logo {
	opacity: 0.4;
	left: calc(50% - 30px);
	position: absolute;
	width: 40px;
	height: 40px;
}

body footer a {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	width: 25px;
	height: 25px;
	font-size: 1.4em;
	text-decoration: none;
	filter: invert(29%) sepia(0%) saturate(6624%) hue-rotate(316deg) brightness(120%) contrast(107%);
}

body footer a:hover {filter: invert(14%) sepia(19%) saturate(0%) hue-rotate(10deg) brightness(95%) contrast(83%);}

@keyframes show {
	0% {
		opacity: 0;
		bottom: -50px;
	}

	100% {
		opacity: 1;
		bottom: 0;
	}
}

@keyframes skip {
	0% {
		opacity: 1;
		bottom: 0;
	}

	100% {
		opacity: 0;
		bottom: -50px;
	}
}

@media (max-width: 790px){
	body main {padding: 0;}
	body main .fileReader {width: 100%;}
	body .FilesConverted {height: 350px;}

	body .FilesConverted .file {
		flex-basis: 350px;
		grid-gap: 0;
		justify-content: center;
		grid-template-columns: 1fr;
		grid-template-rows: 87.5px;
		height: 350px;
	}

	body footer {
		gap: 10px;
		justify-content: end;
	}

	body footer p {order: 2;}
	body footer a {order: 3;}

	body footer .logo {
		order: 1;
		margin-right: auto;
		position: relative;
		left: 0;
	}
}